<a href="https://colab.research.google.com/github/kuruxxii/PythonDA-course-assessment-submission/blob/main/Assessment/Data_Analytics_with_Python_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This assessment aims to evaluate your understanding and application of the concepts covered in the Data Analytics course. You will be tasked with analyzing a dataset related to remote work and mental health, utilizing various data manipulation, statistical analysis, and visualization techniques learned throughout the course. This exercise will help reinforce your skills in data handling, exploratory analysis, and drawing meaningful insights from data.

### Submission Details:

The deadline for submission is 16 November at 11:59 PM. Specific submission details will be shared with you shortly.

### Passing Criteria:

To successfully pass this assessment, you must achieve a score of 80% or higher.
We encourage you to engage with the material and demonstrate your analytical skills. Good luck!


---

# Section 1 - Beginner (25%)

## Shopping Cart System with Discounts

Write a Python program to simulate a shopping cart system for an online store. The program will calculate the total cost of items, apply discounts, and check if the total exceeds a specified budget.

1.	Variables and Lists:
  - Define a `budget` variable with an initial value of 200.
  
  - Create two empty lists called `item_names_list` and `item_prices_list` to store the name and price of each item separately.

In [12]:
# Write your code here
budge = 200
item_names_list = []
item_prices_list = []

2. Functions:
  - Write a function `add_item_to_cart(item_name, item_price)` that takes the itemâ€™s name and price as arguments, appends the name to item_names and the price to item_prices, and returns both updated lists.
  
  - Write a function `calculate_total(item_prices)` that calculates and returns the total cost of all items in item_prices.

    Conditions:
    - If the total cost exceeds the budget after adding an item, print "Budget exceeded!" and stop adding more items.
    - If the total cost is within budget and exceeds $100, apply a 10% discount on the total and print the discounted total.

In [13]:
# Write your code here
def add_item_to_cart(item_name, item_price):
  item_names_list.append(item_name)
  item_prices_list.append(item_price)
  return item_names_list, item_prices_list

def calculate_total(item_prices):
  return sum(item_prices)

3.	Loop and Input:
  - Start the input only once the user says 'start'
  - Use a loop to allow the user to add items to the cart by entering an item name and price. The loop should stop when the user types 'done'.
  - For each item, add it to item_names and item_prices using add_item_to_cart, then update the total cost using calculate_total.

Output:
  - After the loop ends, display the final cart with each item and its price, the initial total, any applicable discount, and the final total.

In [14]:
# Write your code here
def manage_cart():
    print("Type 'start' to begin adding items to your cart.")
    user_input = input("> ").lower()

    # Wait for the user to type 'start'
    while user_input != 'start':
        print("Please type 'start' to begin.")
        user_input = input("> ").lower()

    # Begin the item entry loop
    budget = 200  # Define the budget
    while True:
        item_name = input("Enter the item name (or 'done' to stop): ").strip()
        if item_name.lower() == 'done':
            break

        try:
            item_price = float(input(f"Enter the price for {item_name}: "))
        except ValueError:
            print("Invalid price. Please enter a valid number.")
            continue

        # Add the item and update the total
        add_item_to_cart(item_name, item_price)
        total_cost = calculate_total(item_prices_list)

        # Print the current total
        print(f"Item added. Current total: ${total_cost:.2f}")

        # Check if budget is exceeded
        if total_cost > budget:
            print("Budget exceeded! No more items can be added.")
            break

    # Calculate the final total and apply discount if applicable
    initial_total = calculate_total(item_prices_list)
    if initial_total > 100:
        final_total = initial_total * 0.9  # Apply 10% discount
        discount = initial_total - final_total
    else:
        final_total = initial_total
        discount = 0

    # Display the final cart details
    print("\nFinal Cart Details:")
    print("{:<15} {:<10}".format("Item", "Price"))
    print("-" * 25)
    for name, price in zip(item_names_list, item_prices_list):
        print("{:<15} ${:<10.2f}".format(name, price))
    print("-" * 25)
    print(f"Initial Total: ${initial_total:.2f}")
    if discount > 0:
        print(f"Discount: -${discount:.2f}")
    print(f"Final Total: ${final_total:.2f}")

# Run the cart management
manage_cart()

Type 'start' to begin adding items to your cart.
> start
Enter the item name (or 'done' to stop): book
Enter the price for book: 100
Item added. Current total: $100.00
Enter the item name (or 'done' to stop): drink
Enter the price for drink: 50
Item added. Current total: $150.00
Enter the item name (or 'done' to stop): car
Enter the price for car: 60
Item added. Current total: $210.00
Budget exceeded! No more items can be added.

Final Cart Details:
Item            Price
-------------------------
book            $100.00
drink           $50.00
car             $60.00
-------------------------
Initial Total: $210.00
Discount: -$21.00
Final Total: $189.00

# Section 2 - Intermidiate (55%) - Remote Work and Mental Health Analysis

Dataset source: Kaggle (https://www.kaggle.com/datasets/waqi786/remote-work-and-mental-health)

## Objective:
- In the following sections, you will explore the "Remote Work and Mental Health" dataset using Python and different data science libraries such as Pandas, NumPy and Matplotlib.
- Follow the instructions below to complete each task. Please provide code for each question and any observations as comments when necessary.

In [15]:
# Import necessary modules and libraries
import pandas as pd

## 1. Load Dataset (2 marks)
- Instructions: Load the dataset using Pandas and display few rows.
- Question: Describe the overall structure (rows, columns, data types) as a comment at the end of your code.

In [16]:
# Write code here
df = pd.read_csv('Impact_of_Remote_Work_on_Mental_Health.csv')

print("First few rows of the dataframe:\n")
head_rows = df.head()
head_rows

First few rows of the dataframe:

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

## 2. Display 'n' Rows (3 marks)
- Instructions: Display the first 13 rows of the dataset.

In [ ]:
# Write code here

- Instructions: Display the last 7 rows of the dataset

In [ ]:
# Write code here

## 3. Find the Number of Null Values in the Dataset (2 mark)

In [ ]:
# Write code here

## 4. Statistical Summary for Numeric Columns (10 marks)
Instructions: Use individual commands to find the statistical summary.

- Count

In [ ]:
# Write code here

- Mean

In [ ]:
# Write code here

- Standard Deviation

In [ ]:
# Write code here

- Quartiles

In [ ]:
# Write code here

## 5. Calculate Extrema (2 marks)

In [ ]:
# Write code here

## 6. Find Unique Values in a Categorical Column (3 marks)

- Instructions: Identify the unique values in the `job_role` column (2 marks)
- Question: How many unique roles are represented in the dataset? (1 mark)

In [ ]:
# Write code here

## 7. Group Data and Calculate Mean (4 marks)
- Instructions: Group the dataset by `job_role` and calculate the mean of the `Work_Life_Balance_Rating` for each role.
- Question: Which job role has the highest average Work life balance?

In [ ]:
# Write code here

## 8. Filter Data Based on Condition (4 marks)
- Instructions: Filter the dataset to show only rows where `work_hours_per_week` is greater than 40.
- Question: How many employees are working overtime?

In [ ]:
# Write code here

## 9 . Histogram of Work Hours per Week (5 marks)
- Instructions: Create a histogram of `Hours_Worked_Per_Week` (4 marks).
- Question: Describe the distribution of work hours. Are most employees working around a certain number of hours per week? (1 mark)

In [ ]:
# Write code here

## 10. Scatter Plot of Work Hours vs. Years_of_Experience (4 marks)
- Instructions: Create a scatter plot with `Hours_Worked_Per_Week` on the x-axis and `Years_of_Experience` on the y-axis.

In [ ]:
# Write code here

## 11. Bar Chart of Average Work Life Balance by Job Role (5 marks)
- Instructions: Create a bar chart showing the average `Work_Life_Balance_Rating` for each `Job_Role` (4 marks).
- Question: Which job roles have the highest and lowest average mental Work Life Balance? (1 mark)

In [ ]:
# Write code here

## 12. Pie Chart of Workload Level Distribution (5 marks)
- Instructions: Use a pie chart to show the proportion of `Access_to_Mental_Health_Resources` (Yes and no) in the dataset (4 marks).
- Question: What percentage of employees have access to mental health resources? (1 mark)

In [ ]:
# Write code here

## 13. Scatter Plot of Age vs. Social Isolation Rating (6 marks)
- Instructions: Create a scatter plot with `age` on the x-axis and `Social_Isolation_Rating` on the y-axis (4 marks).
- Question: Do you observe any trends or relationships between age and social isolation? Is there a noticeable impact of age on isoloation? (2 marks)

In [ ]:
# Write code here

# Section 3 - Long Answer/Advanced (20%)

## Job Role and Workload Level Impact on Mental Health

Instructions: Investigate the influence of job roles and workload level on the mental health.
- Create a new column `workload_level` that labels each entry as "High" if the `Hours_Worked_Per_Week` is above its mean, otherwise "Low." (5 marks)
- Group the dataset by `Industry` and calculate the average `Hours_Worked_Per_Week` for each combination. (5 marks)
- Use a bar chart to display the average `Stress_Level` for each job role, with separate bars for high and low stress levels. (5 marks)
- Analyze the results: Which job roles and workload levels appear to have the greatest impact on mental health? (5 marks)

In [ ]:
# Write code here